<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="72d15bda-ab82-4ed7-b7ca-0cd22db5a924" name="TestSuite TestSteps" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="72d15bda-ab82-4ed7-b7ca-0cd22db5a924fileName">TestSuite-TestSteps</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>my-test-suite-property-1</con:name>
      <con:value>Remote values</con:value>
    </con:property>
    <con:property>
      <con:name>my-test-suite-property-remote</con:name>
      <con:value>zzzz</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="18faa61a-6d45-42b4-9706-7812ec74b1a6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>393911e0-6c62-46cc-b219-566f4827ce81</con:tagId>
  <con:tagId>12c9a20f-a9b4-4a3e-914f-d6c4b23c60e2</con:tagId>
  <con:tagId>4e81e05f-149b-47d7-88e0-4d7ca642b349</con:tagId>
</con:testSuite>
